/release/bin/ui/launchStart
/release/bin/ui/ui_main
/release/res/frame/
/release/res/mode_author/
/release/res/mode_check/
/release/res/mode_map_select/
/release/res/mode_mt/
/release/res/mode_working/
/release/res/show_box/
/release/res/Update/
/release/res/version/
/release/res/image.qrc
/release/res/image_rc.py
/utry_output/*.zip
/src/usher/main/debug
/src/usher/main/odom_ini
/release/utry_shell/start_test
/src/third_party/u_database.db
/src/usher/main/u_database.db
