actionlib==1.11.13
altgraph==0.16.1
angles==1.9.11
apturl==0.5.2
beautifulsoup4==4.4.1
blinker==1.3
bondpy==1.8.3
Brlapi==0.6.4
catkin==0.7.18
catkin-pkg==0.4.15
chardet==2.3.0
checkbox-support==0.22
command-not-found==0.3
controller-manager-msgs==0.13.3
cryptography==1.2.3
defer==1.0.6
defusedxml==0.6.0
diagnostic-updater==1.9.3
distro==1.4.0
docutils==0.15.2
dynamic-reconfigure==1.5.50
feedparser==5.1.3
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
guacamole==0.9.2
html5lib==0.999
httplib2==0.9.1
idna==2.0
Jinja2==2.8
language-selector==0.1
laser-geometry==1.6.4
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
message-filters==1.12.14
netifaces==0.10.9
numpy==1.18.1
oauthlib==1.0.3
onboard==1.2.0
opencv-python==4.1.2.30
padme==1.1.1
pexpect==4.0.1
Pillow==3.1.2
plainbox==0.25
pluginlib==1.11.3
psutil==5.6.7
ptyprocess==0.5
pyasn1==0.1.9
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
PyInstaller==3.5
PyJWT==1.3.0
pyparsing==2.4.6
PyQt5==5.12.3
PyQt5-sip==4.19.17
python-apt==1.1.0b1+ubuntu0.16.4.5
python-dateutil==2.8.1
python-debian==0.1.27
python-systemd==231
pyxdg==0.25
PyYAML==5.3
reportlab==3.3.0
requests==2.9.1
rosapi==0.11.3
rosbag==1.12.14
rosboost-cfg==1.14.6
rosbridge-library==0.11.3
rosbridge-server==0.11.3
rosclean==1.14.6
roscreate==1.14.6
rosgraph==1.12.14
roslaunch==1.12.14
roslib==1.14.6
roslint==0.11.0
roslz4==1.12.14
rosmake==1.14.6
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospkg==1.2.3
rospy==1.12.14
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.6
roswtf==1.12.14
sensor-msgs==1.12.7
sessioninstaller==0.0.0
six==1.13.0
smclib==1.8.3
system-service==0.3
tf==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
tf2-sensor-msgs==0.5.20
topic-tools==1.12.14
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.13.1
usb-creator==0.3.0
xdiagnose==3.8.4.1
xkit==0.0.0
XlsxWriter==0.7.3
